.infoTab {
    display: inline-block;
    width: 46%;
    min-width: 320px;
}

.infoTab table {
    width: 100%;
}

.infoTab th {
    text-align: right;
    padding-right: 5%;
}

.infoTab td {
    text-align: left;
    padding-left: 5%;
}

#ulProgT {
    text-align: right;
    font-family: Consolas, Monaco, monospace;
    padding-right: 10px;
}