#qrcode {
    display: inline-block;
    text-align: center;
    width: 100%;
}

#qrcode svg {
    display: inline-block;
    width: 320px;
    height: 320px;
}

.ulbtnname {
    color: #000;
    cursor: pointer;
}

.ulbtnname:hover {
    color: #00f;
    text-decoration: underline;
}
